* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.form-control {
    resize: none;
    border: none;
    border-radius: 10px;
}
.form-control, .btn {
    outline: none !important;
    box-shadow: none !important;
}